In [1]:
import pandas as pd

In [10]:
inputfile='D:\\1_kaoyan\\college_ending\\400仪表数据--全\\middata - 副本\\日结用电量数据——按照不同类型的功率收费区分\\FourHundred_daily_P0300.txt'

In [11]:
data = pd.read_csv(inputfile,sep='\t',encoding='utf-8')

In [12]:
data.head(5)

,meterNo,M20200101,M20200102,M20200103,M20200104,M20200105,M20200106,M20200107,M20200108,M20200109,...,M20201222,M20201223,M20201224,M20201225,M20201226,M20201227,M20201228,M20201229,M20201230,M20201231
0,10023160000029,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,32687.625,32850.851,32980.848,33122.244,33252.248,33387.662,33412.317,33505.202,33584.705,33606.873
1,10023160000041,567.730,567.730,567.730,567.730,567.730,567.730,567.730,567.730,567.730,...,567.730,567.730,567.730,567.730,567.730,567.730,567.730,567.730,567.730,567.730
2,10023160000042,18272.879,18303.648,18334.417,18365.186,18385.580,18405.974,18436.743,18467.512,18495.345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10023160000043,4515.096,4516.550,4533.568,4535.242,4549.766,4556.738,4571.729,4586.271,4587.532,...,5868.351,5907.399,5936.718,5976.426,6017.012,6055.318,6093.409,6114.517,6148.064,6173.846
4,10023160000044,864.782,866.437,868.134,869.855,871.559,873.229,874.967,876.637,878.342,...,958.645,965.585,966.523,971.141,973.360,973.768,974.466,974.990,977.246,979.355

In [5]:
data['regionId']=data['regionId'].astype('object')

In [13]:
data_change=data.T

In [14]:
data_change.head(5)

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
meterNo,1.002316e+13,1.002316e+13,1.002316e+13,1.002316e+13,1.002316e+13,1.002316e+13,1.002316e+13,1.002316e+13,1.002116e+13,1.002116e+13,...,1.002316e+13,1.002316e+13,1.002316e+13,1.002316e+13,1.002316e+13,1.002316e+13,1.002316e+13,1.001416e+13,1.002316e+13,1.002316e+13
M20200101,0.000000e+00,5.677300e+02,1.827288e+04,4.515096e+03,8.647820e+02,7.643694e+03,2.445721e+04,0.000000e+00,1.345040e+03,6.554723e+03,...,6.770204e+03,4.001931e+03,3.194683e+03,8.997791e+03,2.799397e+03,8.090704e+03,6.448154e+03,3.199902e+05,7.228847e+03,5.685680e+03
M20200102,0.000000e+00,5.677300e+02,1.830365e+04,4.516550e+03,8.664370e+02,7.681640e+03,2.456644e+04,0.000000e+00,1.346884e+03,6.564342e+03,...,6.795398e+03,4.004614e+03,3.209996e+03,8.997791e+03,2.799397e+03,8.100713e+03,6.448218e+03,3.208247e+05,7.257591e+03,5.697520e+03
M20200103,0.000000e+00,5.677300e+02,1.833442e+04,4.533568e+03,8.681340e+02,7.719586e+03,2.467568e+04,0.000000e+00,1.348413e+03,6.571537e+03,...,6.821185e+03,4.007292e+03,3.227534e+03,8.997791e+03,2.799397e+03,8.119699e+03,6.448573e+03,3.215881e+05,7.284229e+03,5.709779e+03
M20200104,0.000000e+00,5.677300e+02,1.836519e+04,4.535242e+03,8.698550e+02,7.757532e+03,2.478492e+04,0.000000e+00,1.349945e+03,6.576367e+03,...,6.845982e+03,4.019812e+03,3.230665e+03,8.997791e+03,2.799397e+03,8.129640e+03,6.448340e+03,3.224292e+05,7.313294e+03,5.722203e+03

In [7]:
inputfile.replace('.txt', '1.csv')

'D:\\1_kaoyan\\college_ending\\400仪表数据--全\\middata - 副本\\仪器分时数据——按照不同类型类型来区分(单相,三相)\\1_有数据\\FourHundred_loadprofile_single_P83301.txt'

In [9]:
data_change.to_csv('inputfile.csv')