In [1]:
import pandas as pd

In [1]:
import os

In [6]:
file_path='D:\\1_kaoyan\\college_ending\\400仪表数据--全\\middata - 副本\\分时线损数据——按照指标来算'

In [12]:
name_box=[]
for i,j,k in os.walk(file_path):
    
    print(i)
    print(j)
    print(k)
    name_box.append(k)

D:\1_kaoyan\college_ending\400仪表数据--全\middata - 副本\分时线损数据——按照指标来算
[]
['2——FourHundred_lp-line-loss_CollectedQty.txt.csv', 'all——分时线损数据.xlsx', 'FourHundred_lp-line-loss_CollectedQty.txt', 'FourHundred_lp-line-loss_Consumed.txt', 'FourHundred_lp-line-loss_Estimated.txt', 'FourHundred_lp-line-loss_ExportA.txt', 'FourHundred_lp-line-loss_ExportEsA.txt', 'FourHundred_lp-line-loss_ExportEsR.txt', 'FourHundred_lp-line-loss_ExportR.txt', 'FourHundred_lp-line-loss_GmExportA.txt', 'FourHundred_lp-line-loss_GmExportR.txt', 'FourHundred_lp-line-loss_GmImportA.txt', 'FourHundred_lp-line-loss_GmImportR.txt', 'FourHundred_lp-line-loss_GmQty.txt', 'FourHundred_lp-line-loss_ImportA.txt', 'FourHundred_lp-line-loss_ImportEsA.txt', 'FourHundred_lp-line-loss_ImportEsR.txt', 'FourHundred_lp-line-loss_LossRatio.txt', 'FourHundred_lp-line-loss_LossUsage.txt', 'FourHundred_lp-line-loss_MaxCurrent.txt', 'FourHundred_lp-line-loss_MeterQty.txt', 'FourHundred_lp-line-loss_Supplied.txt', 'FourHundred_lp-line-loss_TechLossRatio.txt', 'FourHundred_lp-line-loss_TechLossUsage.txt']

In [13]:
k

['2——FourHundred_lp-line-loss_CollectedQty.txt.csv',
 'all——分时线损数据.xlsx',
 'FourHundred_lp-line-loss_CollectedQty.txt',
 'FourHundred_lp-line-loss_Consumed.txt',
 'FourHundred_lp-line-loss_Estimated.txt',
 'FourHundred_lp-line-loss_ExportA.txt',
 'FourHundred_lp-line-loss_ExportEsA.txt',
 'FourHundred_lp-line-loss_ExportEsR.txt',
 'FourHundred_lp-line-loss_ExportR.txt',
 'FourHundred_lp-line-loss_GmExportA.txt',
 'FourHundred_lp-line-loss_GmExportR.txt',
 'FourHundred_lp-line-loss_GmImportA.txt',
 'FourHundred_lp-line-loss_GmImportR.txt',
 'FourHundred_lp-line-loss_GmQty.txt',
 'FourHundred_lp-line-loss_ImportA.txt',
 'FourHundred_lp-line-loss_ImportEsA.txt',
 'FourHundred_lp-line-loss_ImportEsR.txt',
 'FourHundred_lp-line-loss_LossRatio.txt',
 'FourHundred_lp-line-loss_LossUsage.txt',
 'FourHundred_lp-line-loss_MaxCurrent.txt',
 'FourHundred_lp-line-loss_MeterQty.txt',
 'FourHundred_lp-line-loss_Supplied.txt',
 'FourHundred_lp-line-loss_TechLossRatio.txt',
 'FourHundred_lp-line-loss_TechLossUsage.txt']

In [18]:
for name in k[2:]:
    file_name=file_path+name
    file_name.replace(r'\', r'\\')
    print(file_name)

SyntaxError: unexpected character after line continuation character (<ipython-input-18-45c5259d4dac>, line 3)

In [2]:
inputfile="D:\\1_kaoyan\college_ending\\400仪表数据--全\\middata - 副本\\分时线损数据——按照指标来算\\FourHundred_lp-line-loss_CollectedQty.txt"

In [3]:
data = pd.read_csv(inputfile,sep='\t',encoding='utf-8')

In [4]:
data.head(5)

,Unnamed: 0,regionId,M20200101000000,M20200101003000,M20200101010000,M20200101013000,M20200101020000,M20200101023000,M20200101030000,M20200101033000,...,M20201231190000,M20201231193000,M20201231200000,M20201231203000,M20201231210000,M20201231213000,M20201231220000,M20201231223000,M20201231230000,M20201231233000
0,1180000258,1180000258,106.0,107.0,107.0,107.0,107.0,107.0,107.0,108.0,...,137,137,137,137,137,137,137,137,136,136
1,1180000259,1180000259,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,...,16,16,16,16,17,17,17,17,17,17
2,1180000260,1180000260,122.0,122.0,122.0,122.0,122.0,122.0,122.0,122.0,...,141,141,141,141,141,141,141,141,141,141
3,1180000261,1180000261,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,19,19,19,19,19,19,19,19,19,19
4,1180000263,1180000263,129.0,130.0,131.0,131.0,131.0,131.0,131.0,131.0,...,127,127,127,127,127,127,127,127,127,127

In [5]:
data['regionId']=data['regionId'].astype('object')

In [6]:
data_change=data.T

In [7]:
data_change.head(5)

,0,1,2,3,4,5,6,7,8,9,...,111,112,113,114,115,116,117,118,119,120
Unnamed: 0,1180000258,1180000259,1180000260,1180000261,1180000263,1180000268,1180000270,1180000272,1180000274,1180000280,...,1180000236,1180029933,1180000239,1180000240,1180000243,1180000244,1180000247,1180000248,1180000249,1180000254
regionId,1180000258,1180000259,1180000260,1180000261,1180000263,1180000268,1180000270,1180000272,1180000274,1180000280,...,1180000236,1180029933,1180000239,1180000240,1180000243,1180000244,1180000247,1180000248,1180000249,1180000254
M20200101000000,106.0,13.0,122.0,12.0,129.0,65.0,71.0,78.0,34.0,26.0,...,109.0,NaN,138.0,114.0,143.0,2.0,72.0,6.0,3.0,1.0
M20200101003000,107.0,13.0,122.0,12.0,130.0,66.0,72.0,80.0,34.0,29.0,...,109.0,NaN,138.0,115.0,143.0,2.0,75.0,6.0,3.0,1.0
M20200101010000,107.0,13.0,122.0,12.0,131.0,67.0,72.0,79.0,34.0,29.0,...,109.0,NaN,138.0,115.0,143.0,2.0,75.0,6.0,3.0,1.0

In [8]:
inputfile.replace('.txt', '1.txt')

'D:\\1_kaoyan\\college_ending\\400仪表数据--全\\middata - 副本\\分时线损数据——按照指标来算\\FourHundred_lp-line-loss_CollectedQty1.txt'

In [9]:
data_change.to_csv('inputfile.csv')