In [1]:
import pandas as pd
import numpy as np

In [2]:
data=[['a',1,2,3],['b',5,6,7],['c',6,3,8],['d',7,2,9]]

In [3]:
df = pd.DataFrame(data,columns=['表名','x_1','x_2','x_3'],dtype=float)

In [4]:
df

  表名  x_1  x_2  x_3
0  a  1.0  2.0  3.0
1  b  5.0  6.0  7.0
2  c  6.0  3.0  8.0
3  d  7.0  2.0  9.0

In [12]:
df['x_3'].quantile(0.75)

8.25

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   表名      4 non-null      object
 1   x_1     4 non-null      float64
 2   x_2     4 non-null      float64
 3   x_3     4 non-null      float64
dtypes: float64(3), object(1)
memory usage: 256.0+ bytes

In [6]:
df['Mean_123']=1/3*(df['x_1']+df['x_2']+df['x_3'])

In [7]:
df['fen_zi']=abs(df['x_1']-df['Mean_123'])+abs(df['x_2']-df['Mean_123'])+abs(df['x_3']-df['Mean_123'])

In [8]:
df

  表名  x_1  x_2  x_3  Mean_123    fen_zi
0  a  1.0  2.0  3.0  2.000000  2.000000
1  b  5.0  6.0  7.0  6.000000  2.000000
2  c  6.0  3.0  8.0  5.666667  5.333333
3  d  7.0  2.0  9.0  6.000000  8.000000

In [9]:
df['fen_mu']=3*df['Mean_123']

In [10]:
df['不平衡度']=df['fen_zi']/df['fen_mu']