In [29]:
import numpy as np
import pandas as pd

np.random.seed(1)
df = pd.DataFrame(np.random.randn(4, 4) * 4 + 3)

In [43]:
df

          0         1         2         3  number
0  9.497381  0.552974  0.887313 -1.291874       1
1  6.461631 -6.206155  9.979247 -0.044828       1
2  4.276156  2.002518  8.848432 -5.240563       1
3  1.710331  1.463783  7.535078 -1.399565       1

In [31]:
df['number']=[1,2,3,4]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      float64
 1   1       4 non-null      float64
 2   2       4 non-null      float64
 3   3       4 non-null      float64
 4   number  4 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 288.0 bytes

In [42]:
df['number']=df.number.apply(lambda x :np.min(df.number))

In [45]:
20/400

0.05

In [44]:
df['number']==df.number.apply(lambda x:(x - np.min(df.number)) / (np.max(df.number) - np.min(df.number)))

ZeroDivisionError: division by zero

In [ ]:
def GuiYiHua(data):
    
    after_times = (data['times'] - data['times'].min()) / (data['times'].max() - data['times'].min())
    return after_times

In [ ]:
df.columns = ['meterNo', 'times', 'all_s', 'aver']

In [ ]:
df['times']=df['times'].apply(GuiYiHua)

In [ ]:
df['meterNo']=df['meterNo'].apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))

In [ ]:
df_norm = (df - df.min()) / (df.max() - df.min())

In [ ]:
df_norm

In [ ]:

df_norm2=df.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))

In [ ]:
df_norm2